@model MvcWebApplication.ViewModels.BoardGameCrud.BoardGameCrudViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BoardGame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoardGame.Type" value="Board Game" class="form-control" />
            <input type="hidden" asp-for="BoardGame.Controller" value="BoardGames" class="form-control" />
            <div class="form-group">
                <label asp-for="BoardGame.MaxPlayerNumber" class="control-label"></label>
                <input asp-for="BoardGame.MaxPlayerNumber" class="form-control" />
                <span asp-validation-for="BoardGame.MaxPlayerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardGame.MinPlayerNumber" class="control-label"></label>
                <input asp-for="BoardGame.MinPlayerNumber" class="form-control" />
                <span asp-validation-for="BoardGame.MinPlayerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardGame.BoardGameBrandID" class="control-label"></label>
                <select asp-for="BoardGame.BoardGameBrandID" class="form-select form-control">
                    <option value="">--- Select Brand ---</option>
                    @foreach (var item in Model.BoardGameBrands)
                    {
                        <option value="@item.ID">@item.BrandName</option>
                    }
                </select>
                <span asp-validation-for="BoardGame.BoardGameBrandID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardGame.UPC" class="control-label"></label>
                <input asp-for="BoardGame.UPC" class="form-control" />
                <span asp-validation-for="BoardGame.UPC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardGame.Title" class="control-label"></label>
                <input asp-for="BoardGame.Title" class="form-control" />
                <span asp-validation-for="BoardGame.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardGame.Description" class="control-label"></label>
                <input asp-for="BoardGame.Description" class="form-control" />
                <span asp-validation-for="BoardGame.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardGame.ReleaseDate" class="control-label"></label>
                <input asp-for="BoardGame.ReleaseDate" class="form-control" />
                <span asp-validation-for="BoardGame.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoardGame.Price" class="control-label"></label>
                <input asp-for="BoardGame.Price" class="form-control" />
                <span asp-validation-for="BoardGame.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="BoardGame.FormFileUpload" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" id="customFileLabel" for="customFile">Choose File</label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(document).ready(function () {
            $("#customFile").on("change", function () {
                $("#customFileLabel").text("File Loaded");
            });
        });
    </script>
    
}
